@tailwind base;
@tailwind components;
@tailwind utilities;

._section {
	border: 1px #e0dede solid;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 8px;
}

._title {
	font-weight: bold;
	margin-bottom: 12px;
}

.number-tag {
	background-color: #0c120b;
	color: white;
	position: relative;
	top: -1px;
	left: 2px;
	padding: 1px 6px 1px 6px;
	border-radius: 9px;
	font-size: 13px;
	opacity: 0.9;
}

input[type='checkbox'] {
	accent-color: #8b796c;
}
