@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: rgba(255, 255, 255, 0.8);
	background: black;
	overflow-y: hidden;
}

h1,
h2,
h3 {
	font-family: Montserrat;
}

h1 {
	font-size: 22px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	opacity: 0.8;
}

._hint {
	opacity: 0.8;
	font-size: 16px;
}

label {
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}

input[type='text'],
input[type='datetime-local'] {
	width: 100%;
	background: none;
	padding: 16px;
	border: 1px rgba(255, 255, 255, 0.3) solid;
	outline: none;
}

textarea {
	width: 100%;
	background: none;
	padding: 16px;
	border: 1px rgba(255, 255, 255, 0.3) solid;
}

select {
	width: 100%;
	background: none;
	padding: 16px;
	border: 1px rgba(255, 255, 255, 0.3) solid;
}

button {
	cursor: pointer;
	transition: all linear 0.1s;
	padding: 16px 32px;
	border: 1px rgba(255, 255, 255, 0.3) solid;
}

button.small {
	padding: 8px 32px;
	background: rgba(255, 255, 255, 0.1);
}

button.tab {
	border: none;
	border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}

button.tab.selected {
	border: none;
	border-bottom: 1px rgba(255, 255, 255, 0.9) solid;
	/* background-color: rgba(255, 255, 255, 0.3); */
}

button:hover {
	background: rgba(255, 255, 255, 0.1);
}

button.small:hover {
	background: rgba(255, 255, 255, 0.3);
}

button.danger {
	border-color: #f44747;
}
